## __L·∫•y d·ªØ li·ªáu__

In [38]:
from pymongo.mongo_client import MongoClient
import os
from dotenv import load_dotenv
load_dotenv()
uri = f"mongodb+srv://{os.getenv('MONGO_ACCOUNT')}:{os.getenv('MONGO_PASSWORD')}@cluster0.obezhgu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [39]:
db = client['Jobs']
topcv_coll = db['topcv']
vietnamworks_coll = db['vietnamworks']

In [40]:
topcv_cursor = topcv_coll.find({})
vietnamworks_cursor = vietnamworks_coll.find({})

In [41]:
topcv_dict = list(topcv_cursor)
vietnamworks_dict = list(vietnamworks_cursor)

In [43]:
print("number documents of topcv's collection: " + str(len(topcv_dict)) + " üòé")
print("number documents of vietnamworks's collection: "+ str(len(vietnamworks_dict)) + " üòé")

number documents of topcv's collection: 723 üòé
number documents of vietnamworks's collection: 1425 üòé

In [45]:
first_row_topcv = topcv_dict[0]
# print(first_row_topcv)
print(first_row_topcv.keys())

dict_keys(['_id', 'urls', 'job_name', 'company_name', 'address', 'salary', 'exp', 'remaining', 'M√¥ t·∫£ c√¥ng vi·ªác', 'Y√™u c·∫ßu ·ª©ng vi√™n', 'Quy·ªÅn l·ª£i', 'ƒê·ªãa ƒëi·ªÉm l√†m vi·ªác', 'C√°ch th·ª©c ·ª©ng tuy·ªÉn', 'C·∫•p b·∫≠c', 'Kinh nghi·ªám', 'S·ªë l∆∞·ª£ng tuy·ªÉn', 'H√¨nh th·ª©c l√†m vi·ªác', 'Gi·ªõi t√≠nh'])

In [46]:
first_row_vietnamworks = vietnamworks_dict[0]
# print(first_row_vietnamworks)
print(first_row_vietnamworks.keys())

dict_keys(['_id', 'url', 'job_name', 'company_name', 'salary', 'end_date', 'address', 'NG√ÄY ƒêƒÇNG', 'NG√ÄNH NGH·ªÄ', 'Lƒ®NH V·ª∞C', 'C·∫§P B·∫¨C', 'K·ª∏ NƒÇNG', 'NG√îN NG·ªÆ TR√åNH B√ÄY H·ªí S∆†', 'M√¥ t·∫£ c√¥ng vi·ªác', 'Y√™u c·∫ßu c√¥ng vi·ªác'])

## __X·ª≠ l√≠ d·ªØ li·ªáu thu th·∫≠p__

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
def get_types_value_in_columns(dataframe: pd.DataFrame = None) -> dict:
    def get_types_value_in_one_column(column: str):
        return set(dataframe[column].apply(lambda x: type(x)))
    if dataframe is None:
        return None
    
    columns = dataframe.columns
    types_in_all_columns = {}
    for column in columns:
        types_in_all_columns[column] = get_types_value_in_one_column(column)
    return types_in_all_columns

In [71]:
def missing_data(dataframe: pd.DataFrame = None) -> pd.DataFrame:
    if dataframe is None:
        return None
    # Get the data types of the columns
    data_types = get_types_value_in_columns(dataframe)
    # Get the number of missing values in the columns
    missing_values = dataframe.isnull().sum()
    # Get the number of unique values in the columns
    # unique_values = dataframe.nunique()

    # Create a new DataFrame with the metadata
    metadata = pd.DataFrame({
        'data_type': data_types,
        'missing_values': missing_values,
        # 'unique_values': unique_values
    })
    return metadata

+ ### __Topcv__

In [67]:
# Convert the list of dictionaries to a DataFrame
topcv_df = pd.DataFrame(topcv_dict)
display(topcv_df.head())

,_id,urls,job_name,company_name,address,salary,exp,remaining,M√¥ t·∫£ c√¥ng vi·ªác,Y√™u c·∫ßu ·ª©ng vi√™n,Quy·ªÅn l·ª£i,ƒê·ªãa ƒëi·ªÉm l√†m vi·ªác,C√°ch th·ª©c ·ª©ng tuy·ªÉn,C·∫•p b·∫≠c,Kinh nghi·ªám,S·ªë l∆∞·ª£ng tuy·ªÉn,H√¨nh th·ª©c l√†m vi·ªác,Gi·ªõi t√≠nh,Th·ªùi gian l√†m vi·ªác
0,6616231e82b7fc8d1e971af5,https://www.topcv.vn/viec-lam/ecommerce-market...,Ecommerce,C√îNG TY TNHH C√îNG NGH·ªÜ TH√îNG TIN AN PH√ÅT,"[3C Tr·∫ßn Ph√∫, Ph∆∞·ªùng 04, Qu·∫≠n 5, Th√†nh ph·ªë H·ªì ...",M·ª©c l∆∞∆°ng,Kinh nghi·ªám,21/04/2024,[Qu·∫£n l√Ω ho·∫°t ƒë·ªông b√°n h√†ng & marketing tr√™n c...,"[T·ªët nghi·ªáp ƒë·∫°i h·ªçc c√°c chuy√™n ng√†nh Kinh t·∫ø, ...","[- M·ª©c l∆∞∆°ng: 9 ‚Äì 12TR, - ƒê∆∞·ª£c tham gia ƒë√≥ng B...","[- H·ªì Ch√≠ Minh: 5.286/1 Tr·∫ßn H∆∞ng ƒê·∫°o, Ph∆∞·ªùng ...","[·ª®ng vi√™n n·ªôp h·ªì s∆° tr·ª±c tuy·∫øn b·∫±ng c√°ch b·∫•m, ...",Nh√¢n vi√™n,1 nƒÉm,2 ng∆∞·ªùi,To√†n th·ªùi gian,Kh√¥ng y√™u c·∫ßu,NaN
1,6616231e82b7fc8d1e971af8,https://www.topcv.vn/viec-lam/backend-develope...,Backend Developer,Lampart,"[An Ph√∫ Plaza, 117-119 L√Ω Ch√≠nh Th·∫Øng, Ph∆∞·ªùng ...",M·ª©c l∆∞∆°ng,Kinh nghi·ªám,26/04/2024,[Tham gia v√†o d·ª± √°n ph√°t tri·ªÉn v√† n√¢ng c·∫•p ph·∫ß...,[‚Ä¢ Vui l√≤ng ch√∫ √Ω ki·ªÉm tra Inbox v√† c·∫£ Spam ma...,"[Th·ªùi gian l√†m vi·ªác:, - 8:00 - 17:00 t·ª´ th·ª© 2 ...","[- H·ªì Ch√≠ Minh: An Ph√∫ Plaza, 117-119 L√Ω Ch√≠nh...","[·ª®ng vi√™n n·ªôp h·ªì s∆° tr·ª±c tuy·∫øn b·∫±ng c√°ch b·∫•m, ...",Nh√¢n vi√™n,2 nƒÉm,5 ng∆∞·ªùi,To√†n th·ªùi gian,Kh√¥ng y√™u c·∫ßu,[Th·ª© 2 - Th·ª© 6 (t·ª´ 08:00 ƒë·∫øn 17:00)]
2,6616231e82b7fc8d1e971b05,https://www.topcv.vn/viec-lam/chuyen-vien-phan...,Chuy√™n Vi√™n,C√¥ng ty TNHH s·∫£n xu·∫•t v√† th∆∞∆°ng m·∫°i Ninh Thanh,"[68 Kh√∫c Th·ª´a D·ª•, V·ªçng H·∫≠u, C·∫ßu Gi·∫•y, H√† N·ªôi]",(L∆∞∆°ng T·ª´ 12.000.000 ƒê·∫øn 18.000.000ƒë/Th√°ng),H√† N·ªôi,22/04/2024,[Thu th·∫≠p th√¥ng tin v√† quy tr√¨nh s·ª≠ d·ª•ng c≈©ng ...,[T·ªët nghi·ªáp h·ªá ch√≠nh quy c√°c Tr∆∞·ªùng ƒê·∫°i h·ªçc tr...,"[-, Thu nh·∫≠p: L∆∞∆°ng t·ª´ 12.000.000 ƒë·∫øn 18.000.0...","[- H√† N·ªôi: T√≤a nh√† AZ Office Building, 72 D·ªãch...","[·ª®ng vi√™n n·ªôp h·ªì s∆° tr·ª±c tuy·∫øn b·∫±ng c√°ch b·∫•m, ...",Nh√¢n vi√™n,2 nƒÉm,5 ng∆∞·ªùi,To√†n th·ªùi gian,Kh√¥ng y√™u c·∫ßu,"[Th·ª© 2 - Th·ª© 6 (t·ª´ 08:00 ƒë·∫øn 17:00), Th·ª© 7 (t·ª´..."
3,6616231e82b7fc8d1e971b0a,https://www.topcv.vn/viec-lam/embedded-android...,Embedded,"MARUSYS VINA CO.,LTD","[Handico Tower, Pham Hung street, Nam Tu Liem,...","(2 Yoe, C/C++)",H√† N·ªôi,31/05/2024,"[General Description, Research and develop And...","[Education, University degree or above in Comp...","[1. Benefits, Salary will be negotiated, depen...","[- H√† N·ªôi: T·∫ßng 17, Handico Tower, Ph·∫°m H√πng, ...","[·ª®ng vi√™n n·ªôp h·ªì s∆° tr·ª±c tuy·∫øn b·∫±ng c√°ch b·∫•m, ...",Nh√¢n vi√™n,2 nƒÉm,1 ng∆∞·ªùi,To√†n th·ªùi gian,Kh√¥ng y√™u c·∫ßu,[Th·ª© 2 - Th·ª© 6 (t·ª´ 09:00 ƒë·∫øn 18:00)]
4,6616231e82b7fc8d1e971b13,https://www.topcv.vn/viec-lam/nhan-vien-thi-co...,Nh√¢n Vi√™n Thi C√¥ng ƒêi·ªán M·∫°ng Camera (Thu Nh·∫≠p ...,C√¥ng ty C·ªï ph·∫ßn I.P.L,"[216 Ho√†ng VƒÉn Th·ª•, Ph∆∞·ªùng 4, Qu·∫≠n T√¢n B√¨nh]",8 - 10 tri·ªáu,1 nƒÉm,21/04/2024,"[- Thi c√¥ng, l·∫Øp ƒë·∫∑t h·ªá th·ªëng ƒëi·ªán, m·∫°ng, came...",[- ∆Øu ti√™n ·ª©ng vi√™n c√≥ kinh nghi·ªám trong lƒ©nh ...,[- L∆∞∆°ng c∆° b·∫£n: 7 - 10 tri·ªáu/th√°ng (t√πy theo ...,"[- H·ªì Ch√≠ Minh: 216 Ho√†ng VƒÉn Th·ª•, Ph∆∞·ªùng 4, T...","[·ª®ng vi√™n n·ªôp h·ªì s∆° tr·ª±c tuy·∫øn b·∫±ng c√°ch b·∫•m, ...",Nh√¢n vi√™n,1 nƒÉm,4 ng∆∞·ªùi,To√†n th·ªùi gian,Nam,NaN

In [66]:
columns_name = topcv_df.columns
print(columns_name)

Index(['_id', 'urls', 'job_name', 'company_name', 'address', 'salary', 'exp',
       'remaining', 'M√¥ t·∫£ c√¥ng vi·ªác', 'Y√™u c·∫ßu ·ª©ng vi√™n', 'Quy·ªÅn l·ª£i',
       'ƒê·ªãa ƒëi·ªÉm l√†m vi·ªác', 'C√°ch th·ª©c ·ª©ng tuy·ªÉn', 'C·∫•p b·∫≠c', 'Kinh nghi·ªám',
       'S·ªë l∆∞·ª£ng tuy·ªÉn', 'H√¨nh th·ª©c l√†m vi·ªác', 'Gi·ªõi t√≠nh',
       'Th·ªùi gian l√†m vi·ªác'],
      dtype='object')

In [68]:
# Change columns' name
topcv_df.rename(columns={
    'M√¥ t·∫£ c√¥ng vi·ªác': 'job_description',
    'Y√™u c·∫ßu ·ª©ng vi√™n': 'job_requirements',
    'Quy·ªÅn l·ª£i': 'benefits',
    'S·ªë l∆∞·ª£ng tuy·ªÉn': 'number_of_recruitment',
    'H√¨nh th·ª©c l√†m vi·ªác': 'work_form',
    'Gi·ªõi t√≠nh': 'Gender',
    'Th·ªùi gian l√†m vi·ªác': 'working_time',
}, inplace=True)

In [72]:
missing_data(topcv_df)

                                                 data_type  missing_values
_id                     {<class 'bson.objectid.ObjectId'>}               0
urls                                       {<class 'str'>}               0
job_name                                   {<class 'str'>}               0
company_name                               {<class 'str'>}               0
address                                   {<class 'list'>}               0
salary                                     {<class 'str'>}               0
exp                                        {<class 'str'>}               0
remaining              {<class 'NoneType'>, <class 'str'>}              10
job_description                           {<class 'list'>}               0
job_requirements                          {<class 'list'>}               0
benefits                                  {<class 'list'>}               0
ƒê·ªãa ƒëi·ªÉm l√†m vi·ªác                         {<class 'list'>}               0
C√°ch th·ª©c ·ª©ng tuy·ªÉn                       {<class 'list'>}               0
C·∫•p b·∫≠c                                    {<class 'str'>}               0
Kinh nghi·ªám                                {<class 'str'>}               0
number_of_recruitment                      {<class 'str'>}               0
work_form                                  {<class 'str'>}               0
Gender                                     {<class 'str'>}               0
working_time             {<class 'list'>, <class 'float'>}             218

In [74]:
topcv_df['salary'].value_counts()

salary
M·ª©c l∆∞∆°ng                                               312
Tho·∫£ thu·∫≠n                                              116
)                                                        18
15 - 20 tri·ªáu                                             8
15 - 25 tri·ªáu                                             6
                                                       ...
- IT Audit Specialist / IT Risk Assurance Specialist      1
(Power Office 365)                                        1
2,500 - 3,500 USD                                         1
) - Hybrid                                                1
) Developer                                               1
Name: count, Length: 202, dtype: int64